@charset "UTF-8";

@font-face {
  font-family: "Segolight";
  font-display: swap;
  src: url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segobold";
  font-display: swap;
  src: url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Segosemibold";
  font-display: swap;
  src: url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoregular";
  font-display: swap;
  src: url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: https://meyerweb.com
	HTML5 Doctor				:: https://html5doctor.com
	and the HTML5 Boilerplate	:: https://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects
*/

img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	 In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */

html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */

ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */

button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */

button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: url(../img/Rectangle_2.jpg) no-repeat;
  background-position: center;
  padding-bottom: 23px;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  background: url(../img/Rectangle_2.jpg) no-repeat;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100px;
  max-width: 1200px;
}

.header__logo {
  margin-top: 34px;
  position: relative;
  z-index: 3;
}

.menu-link {
  text-decoration: none;
  color: #e1e1e1;
  font-family: "Segoregular";
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
  position: relative;
  z-index: 2;
}

.header__nav li {
  padding-left: 23px;
}

.header__nav li:hover {
  opacity: 0.7;
}

.header__nav li:first-child {
  padding-left: 0;
}

.header__nav_mobile {
  display: none;
}

.slider1 {
  padding-top: 96px;
}

.slider1__body {
  background: url(../img/Rectangle_1.png) no-repeat;
  padding-bottom: 68px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider1__name {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: "Segolight";
  font-size: 64px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 166px;
}

.slider1__desc {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: "Segoregular";
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.slider1__btn {
  color: #ffffff;
  font-family: "Segoregular";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 163px;
  height: 51px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  text-align: center;
  padding-top: 13px;
  margin-left: 83px;
  cursor: pointer;
}

.slider1__btn:hover {
  opacity: 0.5;
}

.slider1__btn:first-child {
  margin-left: 0;
}

.slider1__buttons {
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider1__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 95px;
}

.slider1__pag .slider1__pagination {
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}

.slider1__pag .slider1__pagination:hover {
  background-color: #ffffff;
}

.slider1__pag .slider1__pagination:first-child {
  margin-left: 0;
}

.slider1__pag .slider1__pagination_active {
  background-color: #ffffff;
}

/* Слайдер */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Точки (булиты) */

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin-left: 15px;
  margin-top: 95px;
}

.slick-dots li:first-child {
  margin-left: 0;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background-color: #ffffff;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
}

.slider2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
}

.slider2__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider2__about_name {
  color: #242424;
  font-family: "Segobold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding-bottom: 47px;
}

.slider2__about_text {
  display: inline-block;
  color: #242424;
  font-family: "Segoregular";
  font-size: 14px;
  font-weight: 700;
  width: 323px;
  padding-bottom: 38px;
}

.slider2__about_text p {
  padding-bottom: 20px;
}

.slider2__about_text p:last-child {
  padding-bottom: 0px;
}

.slider2__about_btn {
  color: #ffffff;
  font-family: "Segoregular";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 162px;
  height: 50px;
  background-color: #f211d5;
  border-radius: 30px;
  padding-top: 15px;
  text-align: center;
  cursor: pointer;
}

.slider2__about_btn:hover {
  opacity: 0.6;
}

.slider2__img {
  width: 50%;
  height: 431px;
}

.slider2__img img {
  height: 431px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider3 {
  background: url(../img/Rectangle_3_copy_2.jpg);
  height: 238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider3__text {
  text-align: center;
  color: #ffffff;
  font-family: "Segolight";
  font-size: 36px;
  font-weight: bold;
  width: 698px;
}

.slider4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider4__img {
  width: 50%;
  height: 473px;
}

.slider4__img img {
  height: 473px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider4__our {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider4__our_name {
  color: #232323;
  font-family: "Segobold";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  padding-bottom: 56px;
  text-align: left;
}

.slider4__our_text {
  width: 407px;
  color: #232323;
  font-family: "Segoregular";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.35px;
}

.slider4__our_text p {
  padding-bottom: 20px;
}

.slider4__our_text:last-child {
  padding-bottom: 0px;
}

.slider5 {
  background: url(../img/c1_copy.jpg);
  height: 243px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider5__text {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: "Segobold";
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  width: 790px;
}

.slider6 {
  color: #232323;
  font-family: "Segoe UI";
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-align: center;
  padding-top: 91px;
  padding-bottom: 83px;
}

.slider7 {
  background: url(../img/Rectangle_6_copy_3.jpg);
  height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slider7__left {
  width: 272px;
  color: #ffffff;
  font-family: "Segolight";
  font-size: 14px;
  font-weight: bold;
}

.slider7__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 730px;
  height: 199px;
  background-color: #1c40a6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 173px;
}

.slider7__right_approve {
  margin-top: 10px;
}

.slider7__right_approve img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider7__right_text {
  color: #ffffff;
  font-family: "Segolight";
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-left: 14px;
}

.slider7__right_text p {
  padding-top: 3px;
}

.slider8 {
  position: relative;
  height: 206px;
  background-color: #1c40a6;
}

.slider8__name {
  color: #ffffff;
  font-family: "Segobold";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  padding-top: 43px;
}

.slider8__slick {
  mix-blend-mode: screen;
}

.slider8__slick_item {
  mix-blend-mode: screen;
  text-align: center;
  padding-top: 28px;
}

.slider8__slick .slick-arrow {
  position: absolute;
  top: 62%;
  z-index: 10;
  font-size: 0;
  outline: none;
}

.slider8__slick button.slick-prev.slick-arrow {
  left: 10%;
  background: url(../img/left.png) 0 0 no-repeat;
  width: 19px;
  height: 30px;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider8__slick button.slick-next.slick-arrow {
  right: 10%;
  background: url(../img/_copy.png) 0 0 no-repeat;
  width: 19px;
  height: 30px;
  border: none;
}

.slider8__slick button.slick-next.slick-arrow img {
  -o-object-fit: cover;
     object-fit: cover;
}

.slider9 {
  background: url(../img/gg.jpg);
  height: 505px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider9__btn {
  color: #ffffff;
  font-family: "Segoregular";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.65px;
  width: 615px;
  height: 90px;
  background-color: #f211d5;
  background-image: -o-linear-gradient(357deg, #f211d5 0%, #1c40a6 100%);
  background-image: linear-gradient(-267deg, #f211d5 0%, #1c40a6 100%);
  border-radius: 50px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}

.slider9__btn:hover {
  border: 1px solid white;
}

.slider9__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social {
  width: 45px;
  height: 44px;
  background-color: #f211d5;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
  margin-top: 70px;
  margin-left: 13px;
}

.social:hover {
  opacity: 0.9;
}

.mail {
  padding-top: 13px;
}

.ggl {
  padding-top: 13px;
  padding-left: 7px;
}

.footer {
  height: 166px;
  background-color: #121212;
  background-image: -o-linear-gradient(357deg, #f211d5 0%, #1c40a6 100%);
  background-image: linear-gradient(-267deg, #f211d5 0%, #1c40a6 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  opacity: 0.6;
}

.footer__name {
  color: #ffffff;
  font-family: "Segolight";
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.25px;
  padding-bottom: 11px;
}

.footer__copy {
  color: #ffffff;
  font-family: "Segosemibold";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

@media (max-width: 831px) {
  .slider1 {
    min-height: 100%;
  }

  .slider1__name {
    font-size: 30px;
  }

  .slider1__desc {
    font-size: 20px;
  }

  body.lock {
    overflow: hidden;
  }

  .slider8__slick .slick-arrow {
    top: 80%;
  }

  .header__nav_mobile {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 8;
    top: -10px;
  }

  .menu-link {
    font-size: 35px;
  }

  .header__logo {
    margin-top: 25px;
    margin-left: 10px;
  }

  .header__body {
    height: 50px;
  }

  .header__nav_mobile span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 45px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__nav_mobile:before,
  .header__nav_mobile:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 35px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__nav_mobile:after {
    top: 55px;
  }

  .header__nav_mobile.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 45px;
  }

  .header__nav_mobile.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 45px;
  }

  .header__nav_mobile.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 70px 0px 20px 10px;
    text-align: center;
  }

  .header__nav.active {
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header__list {
    display: block;
  }

  .header__nav li {
    padding-left: 0;
    margin-bottom: 20px;
  }

  .slider1 {
    padding-top: 70px;
  }

  .slider9__btn {
    color: #ffffff;
    font-family: "Segoregular";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.65px;
    width: 100%;
    height: 90px;
    background-color: #f211d5;
    background-image: -o-linear-gradient(357deg, #f211d5 0%, #1c40a6 100%);
    background-image: linear-gradient(-267deg, #f211d5 0%, #1c40a6 100%);
    border-radius: 50px;
    text-align: center;
    padding-top: 25px;
    cursor: pointer;
  }

  .slider9__btn:hover {
    border: 1px solid white;
  }

  .slider9 {
    height: 250px;
  }

  .footer__name {
    text-align: center;
  }

  .footer__copy {
    text-align: center;
  }
}

@media (max-width: 815px) {
  .slider2__about {
    width: 100%;
  }

  .slider2__img {
    width: 100%;
    margin-top: 20px;
    height: 200px;
  }

  .slider2__img img {
    width: 100%;
    text-align: center;
    height: 200px;
  }

  .slider2__about_text {
    padding-left: 15px;
  }

  .slider2__about_name {
    padding-top: 15px;
  }

  .slider4__our_text {
    padding-left: 10px;
  }

  .slider4__img {
    width: 100%;
    height: 200px;
  }

  .slider4__our {
    padding-top: 20px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider4__img img {
    width: 100%;
    height: 200px;
  }

  .slider4__our_text {
    width: 100%;
  }

  .slider2__about_text {
    width: 100%;
  }

  .slider3__text {
    width: 100%;
    font-size: 26px;
  }

  .slider5__text {
    width: 100%;
    font-size: 26px;
  }

  .slider7__right {
    left: 0;
  }

  .slider7__left {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .slider7__right_approve img {
    height: 99px;
    margin-left: 10px;
  }

  .slider7 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 320px) {
  .slider1__name {
    padding-top: 45px;
  }

  .slider8__slick .slick-arrow {
    top: 50%;
  }

  .slider7__right_text p {
    padding-top: 0px;
  }
}

.webp .header{ background: url(../img/Rectangle_2.webp) no-repeat; }

.webp .header:before{ background: url(../img/Rectangle_2.webp) no-repeat; }

.webp .slider1__body{ background: url(../img/Rectangle_1.webp) no-repeat; }

.webp .slider3{ background: url(../img/Rectangle_3_copy_2.webp); }

.webp .slider5{ background: url(../img/c1_copy.webp); }

.webp .slider7{ background: url(../img/Rectangle_6_copy_3.webp); }

.webp .slider8__slick button.slick-prev.slick-arrow{ background: url(../img/left.webp) 0 0 no-repeat; }

.webp .slider8__slick button.slick-next.slick-arrow{ background: url(../img/_copy.webp) 0 0 no-repeat; }

.webp .slider9{ background: url(../img/gg.webp); }